<% if @article.errors.any? %>
  <input type="text" placeholder="The following errors prevented the article from being saved!" aria-invalid="true">
  <ul class="errors">
    <% @article.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
<% end %>