<body class="container">
  <main>
    <%# TODO: fix pagination to hold more than one article per page %>
    <h1>All articles.</h1>
    <% if logged_in? %>
      <%= link_to 'Log out.', logout_path, method: :delete %>
    <% end %>
    <%= will_paginate @articles %>
    <%= render 'article', obj: @articles %>
  </main>
  <%= will_paginate @articles %>
</body>