<body>
  <main>
    <h1>Edit user.</h1>
    <%= render 'shared/errors', obj: @user %>
    <article>
      <%= render 'form' %>
    </article>
    <%= link_to 'Home.', root_path %>
  </main>
  <%= render 'shared/footer' %>
</body> 
