<body>
  <main>
    <h1><%= @user.username %>'s profile.</h1>
    <div>
      <%= link_to "Edit profile", edit_user_path(@user) %>
    </div>
    <%= render 'articles/article', obj: @user %>
    <%= link_to 'Home.', root_path %>
  </main>
</body> 