<body>
  <main class ="container">
  <article>
    <header><h1>TinyBlog About Page</h1></header>
    <h2>Body</h2>
    <footer>
      <%= link_to 'Articles listing', articles_path %> |
      <%= link_to 'Home', root_path %> 
    </footer>
  </article>
  </main>
</body>