// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: inline-block;
  justify-content: center;
}

h5 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

article {
  align-items: center;
}

ul li {
  display: inline-block;
  justify-content: center;
}

h1 {
  text-align: center;
}
