<%= render 'shared/nav' %>
<h1 class='category-padding'>Edit category name.</h1>
<%= render 'form' %>
<%= link_to 'Back to category.', category_path(@category), role: 'button'  %>
<%= render 'shared/footer' %>
